.centre_value {
  color: #000;
  position: absolute;
  top: 140px;
  left: 75px;
  font-weight: 700;
  font-size: 18px;
}

.centre_text {
  position: absolute;
  top: 120px;
  left: 70px;
  font-weight: 400;
  color: #64748B;
  font-size: 12px;
}
